{:paths   ["src/main"]

 :deps    {com.taoensso/timbre        {:mvn/version "6.0.4"}
           metosin/malli              {:mvn/version "0.13.0"}
           com.fulcrologic/guardrails {:mvn/version "1.2.9"}
           org.clojure/core.async     {:mvn/version "1.6.681"}}

 :aliases {:test             {:extra-paths ["src/test"]
                              :extra-deps  {lambdaisland/kaocha     {:mvn/version "1.91.1392"}
                                            org.clojure/test.check  {:mvn/version "1.1.0"}
                                            fulcrologic/fulcro-spec {:mvn/version "3.1.12"}}}

           :guardrails-stubs {:override-deps {com.fulcrologic/guardrails {:mvn/version "1.2-stubs-SNAPSHOT"}}}

           :clj-tests        {:extra-paths ["src/test"]
                              :main-opts   ["-m" "kaocha.runner"]
                              :extra-deps  {lambdaisland/kaocha {:mvn/version "1.91.1392"}}}

           :sc-dev           {:extra-paths ["src/dev" "src/examples"]
                              :extra-deps  {thheller/shadow-cljs                   {:mvn/version "2.28.20"}
                                            hickory/hickory                        {:mvn/version "0.7.1"}
                                            com.fulcrologic/fulcro                 {:mvn/version "3.8.1"}
                                            com.fulcrologic/fulcro-rad             {:mvn/version "1.6.7"}
                                            com.fulcrologic/fulcro-devtools-remote {:mvn/version "0.2.5"}
                                            com.fulcrologic/fulcro-inspect         {:mvn/version "1.0.2"}
                                            vvvvalvalval/scope-capture             {:mvn/version "0.3.2"}
                                            djblue/portal                          {:mvn/version "0.18.1"}
                                            org.clojure/clojure                    {:mvn/version "1.11.4"}
                                            org.clojure/clojurescript              {:mvn/version "1.11.132"}
                                            binaryage/devtools                     {:mvn/version "1.0.4"}
                                            org.clojure/tools.namespace            {:mvn/version "1.1.0"}
                                            org.clojure/data.json                  {:mvn/version "2.4.0"}
                                            zprint/zprint                          {:mvn/version "1.2.2"}
                                            camel-snake-kebab/camel-snake-kebab    {:mvn/version "0.4.2"}}}}}
