{:paths   ["src/main"]

 :deps    {}

 :aliases {:test       {:extra-paths ["src/test"]
                        :extra-deps  {org.clojure/test.check  {:mvn/version "1.1.0"}
                                      fulcrologic/fulcro-spec {:mvn/version "3.1.12"}}}

           :clj-tests  {:extra-paths ["src/test"]
                        :main-opts   ["-m" "kaocha.runner"]
                        :extra-deps  {lambdaisland/kaocha {:mvn/version "1.60.945"}}}

           :workspaces {:extra-paths ["src/workspaces"]
                        :extra-deps  {com.github.awkay/workspaces {:mvn/version "1.0.3"
                                                                   :exclusions  [com.fulcrologic/fulcro]}}}

           :dev        {:extra-paths ["src/dev"]
                        :extra-deps  {thheller/shadow-cljs        {:mvn/version "2.16.7"}
                                      vvvvalvalval/scope-capture  {:mvn/version "0.3.2"}
                                      com.taoensso/timbre         {:mvn/version "5.1.2"}
                                      djblue/portal               {:mvn/version "0.18.1"}
                                      org.clojure/clojure         {:mvn/version "1.10.3"}
                                      org.clojure/clojurescript   {:mvn/version "1.10.891"}
                                      binaryage/devtools          {:mvn/version "1.0.4"}
                                      org.clojure/tools.namespace {:mvn/version "1.1.0"}}}}}
