{:defn-macro             nil
 :throw?                 true
 :emit-spec?             false
 :disable-exclusions?    true
 :guardrails/use-stderr? true
 :guardrails/compact?    true
 :guardrails/trace?      true
 :guardrails/stack-trace :none                              ; or :prune, :full, or :none
 :expound                {:show-valid-values? false
                          :print-specs?       false}}
