{:deps     {:aliases [:dev :test :async]}
 :nrepl    {:port 9050}
 :jvm-opts ["-Xmx2G"]
 :http     {:port 9635}
 :dev-http {9001 "resources/public"
            8090 "resources/public/viz"
            8091 "resources/public/routing-demo"}
 :builds   {:test     {:target           :browser-test
                       :test-dir         "resources/public"
                       :ns-regexp        "-(test|spec)$"
                       :compiler-options {:static-fns false}}

            :ci-tests {:target           :karma
                       :js-options       {:js-provider :shadow}
                       :compiler-options {:static-fns false}
                       :output-to        "target/ci.js"
                       :ns-regexp        "-(test|spec)$"}

            :viz      {:target           :browser
                       :output-dir       "resources/public/viz/js"
                       :asset-path       "/js"
                       :modules          {:main {:init-fn com.fulcrologic.statecharts.visualization.app.main/init}}
                       :dev              {:source-map       true
                                          :compiler-options {:recompile-dependents true
                                                             :external-config      {:guardrails {}
                                                                                    :fulcro     {:html-source-annotations? true}}}}
                       :devtools         {:http-root  "resources/public/viz"
                                          :http-port  8090
                                          :preloads [com.fulcrologic.devtools.chrome-preload]
                                          :after-load com.fulcrologic.statecharts.visualization.app.main/refresh}
                       :compiler-options {:infer-externs :auto}}

            :routing-demo {:target     :browser
                           :output-dir "resources/public/routing-demo/js"
                           :asset-path       "/js"
                           :modules          {:main {:init-fn com.fulcrologic.statecharts.routing-demo.app/init}}
                           :dev              {:source-map       true
                                              :compiler-options {:recompile-dependents true
                                                                 :external-config      {:guardrails {}
                                                                                        :fulcro     {:html-source-annotations? true}}}}
                           :devtools         {:http-root  "resources/public/routing-demo"
                                              :http-port  8091
                                              :preloads   [com.fulcrologic.devtools.chrome-preload]
                                              :after-load com.fulcrologic.statecharts.routing-demo.app/refresh}
                           :compiler-options {:infer-externs :auto}}}}

